* {
    font-family: "Roboto", sans-serif ;

}
body, .container, .info-items {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

body {
    flex-direction: column;
    margin:0;
}

.header-background, .hero-background, .footer-background {
    background: #1F2937;
    color: white;
}

.quote-section-background {
    background: #E5E7EB;
}

.header, .hero, .information-section, .quote-section, .cta-section, .footer, .item{
    align-items: center;
    justify-content: center;
}

.hero-text, .item, .quote-section, .information-section {
    flex-direction: column;
}

.hero-placeholder-image {
    width: auto;
    height: stretch;
    background-color: rgb(173, 173, 173);
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero {
    gap: 50px;
}

.info-placeholder {
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    border-radius: 15px;
    height: 150px;
    margin-bottom: 10px;
}

.item {
    width: 150px;
}

.img-caption {
    text-align: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

button, .cta-section {
    background: #3882F6;
    color: white;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.cta-section {
    margin: 100px 0px;
    padding: 50px 100px;
    justify-content: space-between;
    border-radius: 5px;
}

ul {
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    padding: 100px 0;
}

.content{
    width: 800px;
}

.header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-text {
    width: 350px;
}

.hero-sub-text {
    margin-bottom: 10px;
}

.info-items {
   gap: 40px;
}

.information-section {
    margin-bottom: 100px;
}

.quote-section {
    padding: 100px;
}

.footer {
    height: 70px
}

.reference {
    display: flex;
    font-weight: bold;
    margin-left: auto;
}

.cta {
    font-weight: bold;
    font-size: 18px;
}

.one {
    border-style: none;
}

.two {
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.one, .two {
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
}
